
.between{
    padding-top: 55px;
}
.between__part{
    border-radius: 8px;
    background-repeat: no-repeat;
    padding: 125px 0;
    background-image: url(../image/Bitmap.png);
    width: 1280px;
    margin-left: auto;
    background-size: 1284px, 854px;
    margin-right: auto;
    margin-bottom: 200px;
}
.between__part__section{
    width: 400px;
    padding-left: 58px;
    border-radius: 5px;
}
.between__part__section{
    margin: 0;
    height: 176px;
    margin-left: 85px;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-align: justify;
    color: white;
}
.between__name{
    width: 188px;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}
.between__part__words{
    color: #FEFCF7;
    height: 104px;
    opacity: 0.9;
    line-height: 26px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Open Sans', sans-serif;
   
}