@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;1,200&family=Fraunces:wght@100;400;600;700&family=Open+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;1,200&family=Fraunces:wght@200;300;600;700&family=Open+Sans:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
}
body{
        margin: 0;
    padding: 0;
    font-family: 'Fraunces',9t ;

}

.container{
    margin-left:auto;
    margin-right: auto;
    width: 1280px;
    align-items: center;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cofee{
    display: flex;
    align-items: center;
}
.name__size{
    margin-left: 8px;
    left: 71.9px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans', sans-serif;
    color: #333D4B;
}
.header__hero{
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-left: 470px;
    display: flex;
    list-style-type: none;
}
.header__hero__item + .header__hero__item {
    margin-left: 20px;
}
.header__hero__link{
    text-decoration: none;
    color: #83888F;
    transition: color .2s ease, border-bottom .2s ease;
}
.header__hero__link:hover{
    color: #83888F;
    opacity: .5;
    border-bottom: 1px solid #83888F;
}


.between{
    padding-top: 55px;
}
.between__part{
    border-radius: 8px;
    background-repeat: no-repeat;
    padding: 125px 0;
    background-image: url(../images/Bitmap.png);
    width: 1280px;
    margin-left: auto;
    background-size: 1284px, 854px;
    margin-right: auto;
    margin-bottom: 200px;
}
.between__part__section{
    width: 400px;
    padding-left: 58px;
    border-radius: 5px;
}
.between__part__section{
    margin: 0;
    /* width: 445px; */
    height: 176px;
    margin-left: 85px;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-align: justify;
    color: white;
}
.between__name{
    width: 188px;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}
.between__part__words{
    color: #FEFCF7;
    height: 104px;
    opacity: 0.9;
    line-height: 26px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Open Sans', sans-serif;
   
}

/* REPEATED */
.repeated{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.repeated__image{
    background: #0E8784;
    border-radius: 8px;
}
.repeated__about{
    width: 540px;
    
}
.important__thema{
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
    
}
.important__information{
    font-size: 16px;
    line-height: 26px;
    font-family: 'Barlow', sans-serif;
    color: #333D4B;
    mix-blend-mode: normal;
    /* opacity: 0.8; */
}

/* drink */

.drink{
    margin-top: 158px;
}
.drink__pleasure{
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    border-radius: 10px;
}
.cofee__tea{
    padding: 85px;
    width: 1280px;
    background: #2C343E;
    display: flex;
    height: 441px;
    
}
.telefon{
    
position: relative;
    width: 1110px;
}
.drink__alone__part{
    position: relative;
}
.drink__pleasure__title{
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    font-family: 'Fraunces', serif;
}
.drink__pleasure__expression{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.drink__cofee__photo{
    width: 445px;
    height: 474px;
    position: absolute;
    top: -200px;
    right: 0;
    border-radius: 8px;
}
.drink__alone__part{
    width: 540px;
    height: 210px;
}


.drink__map{
    margin-top: 110px;
}
.title__thema{
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    margin-bottom: 72px;

}
.drink__map__thema{
    font-family: 'Fraunces', serif;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.drink__title{
    margin-left: auto;
    margin-right: auto;
    width: 1110px;
    display: flex;
    justify-content: space-between;
}
.drink__island{
    Width :48,97px;
    Height:37,25px;
}
.drink__title__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 285px;
    height: 167px;
}
.drink__address{
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    font-family: 'Fraunces', serif;
}
.drink__list__item{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

/* FOOTER */

.footer{
    margin-top: 168px;

}
.footer__direct{
    margin-left:auto;
    margin-right: auto;
    width: 1280px;
    align-items: center;
    display: flex;
    display: flex;
    align-items: center;
    background-color: #2C343E;
    align-items: center;
    padding: 44.47px 85px;
}
.group{

}
.footer__direct__list{
    display: flex;
    align-items: center;
}
.footer__title{
    font-family: 'Fraunces', serif;
    color: #FEFCF7;
    margin-left: 8px;
    font-size: 30px;
}
.footer__direct__ground{
    font-family: 'Barlow', sans-serif;
    margin-left: 8px;
   left: 71.9px;
    color: #333D4B;
}
.footer__table{
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 350px;
    display: flex;
    list-style-type: none;
    margin-top: 20px;
}
.footer__table__item + .footer__table__item {
    margin-left: 20px;
}
.footer__table__link{
    text-decoration: none;
    color: #83888F;
    transition: color .2s ease, border-bottom .2s ease;
}
.footer__table__link:hover{
    color: #83888F;
    opacity: .5;
    border-bottom: 1px solid #83888F;
}
.footer__table__site{
    display: flex;
    list-style-type: none;
    margin-left: 369px;
}