.cards{
    margin-top: 406.45px;
}
.main{
    padding: 0 20px;
    margin: 0 auto;
}
.cards__choose{
    background-color: red;
    margin: 0;
    padding: 0 20px;
    margin-left: auto;
    height: 577px;
    margin-right: auto;
    background: #2C343E;
    border-radius: 10px;
    max-width: 1280px;
    text-align: center;
}

.cards__choose__articl{
    position: relative;
    color: white;
    font-family: "Barlow", sans-serif;
    padding-top: 100px; 
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    margin-bottom: 32px;
}
.cards__choose__text{
    max-width: 540px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    opacity: 0.8;
}
.cards__quet{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    position: relative;
    
}
.cards__quet__list{
    position: absolute;
    list-style: none;
    display: flex;
    max-width: 1200px;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 7.5%;
    right: 7.5%;
    margin-top: -240px;
    // margin-left: 85px;   
    // margin-top: 86px;                                                                                                              
    margin-left: auto;
    margin-right: auto;
}

.cards__list__nothing{
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;   
    min-height: 382px;
    border-radius: 8px;
    background-color: #0E8784;
    padding: 47px; 
    text-align: center;
    
}
.cards__list__nothing + .cards__list__nothing{
    margin-left: 30px;
}
.car{
    margin-bottom: 23px;
}

.cards__list__thema{
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}
.cards__list__text{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    opacity: .7;
}